*{
  background: lightblue;
  color: white;
}

h1{
  text-align: center;

}

.btn{
  background: black;
  color: white;
  padding: 1px;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
}


/* .user{
  border: 1px solid greenyellow;
  margin: 10px;
  padding: 10px;
} */

.card{
  border: 1px solid rgb(255, 137, 47);
  margin: 10px;
  padding: 10px;
}